@import 'fonts';
@import 'vars';
@import 'global';

// Menu start
.menu {
  position: relative;
  z-index: 20;
  width: 100%;
  transition: all 3s;

  &.fixed {
    position: fixed;
    background-color: rgba(#000, 0.8);
  }

  &__inner {
    padding: 18px 0px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 24px;
    color: #fff;
    max-width: 200px;
    line-height: 30px;
    @include sf400;
  }

  &__list {
    font-size: 14px;

    a {
      transition: all .3s;
    }

    li {
      font-size: 14px;
      @include sf400;

      &:hover {
        a {
          color: $hover;
        }
      }

      &+li {
        margin-left: 80px;
      }
    }
  }
}

.menu__contact {
  text-align: center;
}

.social__inner {
  padding-bottom: 50px;
}

.menu__contact-social {
  margin-bottom: 10px;

  a+a {
    margin-left: 36px;
  }
}

.menu__contact-btn {
  display: block;
  width: 196px;
  margin: 0 auto;
}

// Menu end

// Header start
.wrap-header {
  background: url(../images/header/header-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}

.overlay {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  z-index: 1;
}

.header {
  position: relative;
  z-index: 2;
  color: #fff;
  @include sf400;

  &.fixed {
    padding-top: 110px;
  }

  &__inner {
    padding-top: 90px;
    padding-bottom: 380px;
    position: relative;
  }
}

.header__content {
  max-width: 800px;
}

.header__title {
  @include sf600;
  font-size: 56px;
  line-height: 72px;
  margin-bottom: 15px;

  span {
    color: $blue;
  }
}

.header__subtitle {
  font-size: 27px;
  line-height: 36px;
  max-width: 690px;
  padding-bottom: 90px;
  margin-bottom: 90px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $blue;
  }
}

.header__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;
  max-width: 770px;
  width: 100%;

  &-text {
    padding-left: 68px;
    font-size: 21px;
    position: relative;
    max-width: 330px;
    width: 100%;
    margin-bottom: 60px;
    line-height: 27px;

    img {
      max-width: 50px;
      position: absolute;
      left: 0;
    }

    span {
      max-width: 253px;
    }
  }
}

.header__btn {
  width: 270px;
}

.header__img {
  position: absolute;
  right: 0;
  bottom: 345px;

  &-text {
    max-width: 370px;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    @include sf600;
    margin: 0 auto;
  }
}

// Header end

// Social start
.social,
.promotion,
.remember {
  transform: skew(0, 4deg);
  position: relative;
  z-index: 2;
}

.social-wrap,
.promotion-wrap,
.remember-wrap {
  background: url(../images/social-bg.jpg) center no-repeat;
  background-size: cover;
  height: 500px;
  transform: skew(0, -4deg);
  position: relative;
  z-index: 5;
  margin-top: -230px;
}

.social-overlay,
.promotion-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.7;
  z-index: 1;
}

.social__wrap-inner,
.promotion__inner,
.remember__inner {
  padding-top: 100px;
}

.social__title {
  margin: 0 auto;
  margin-bottom: 85px;
}

.social__inner {
  display: flex;
  justify-content: space-between;
  color: #000;
}

.social__item {
  max-width: 240px;
  text-align: center;
  align-items: flex-start;

  &-title {
    font-size: 21px;
    margin-bottom: 23px;
    @include sf400;
  }

  &-text {
    font-size: 17px;
    line-height: 24px;
    @include sf400;
    max-width: 218px;
  }
}

// Social end

// Reasons start
.reasons {
  background: url(../images/reason-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -200px;

  &__inner {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-wrap {
      position: relative;
      z-index: 2;
      padding-top: 350px;
      padding-bottom: 100px;
    }
  }

  &__item {
    text-align: center;
    @include sf400;
    max-width: 215px;
    width: 100%;

    img {
      margin-bottom: 18px;
      max-height: 50px;
    }

    &-title {
      font-size: 24px;
      margin-bottom: 18px;
    }

    &-text {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.reasons__title {
  color: #fff;
  margin-bottom: 60px;
}

// Reasons end

// Services start
.services {
  position: relative;
  background: url(../images/services/services-bg.jpg) center no-repeat;
  background-size: cover;

  .overlay {
    background-color: #fff;
    opacity: 0.8;
  }
}

.services__inner {
  padding: 50px 0px;
  position: relative;
  z-index: 2;
}

.services__title {
  margin-bottom: 60px;
}

.services__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.services__item {
  text-align: center;
  max-width: 210px;

  img {
    height: 50px;
    margin-bottom: 25px;
  }

  &-text {
    font-size: 21px;
    line-height: 30px;
    color: #000;
    @include sf400;

    &--key {
      max-width: 185px;
    }
  }
}

// Services end

// Results start
.results {
  position: relative;
  background: url(../images/results/results-bg.jpg) center no-repeat;
  background-size: cover;
}

.results__inner {
  position: relative;
  z-index: 2;
  padding: 100px 0;
}

.results__title {
  color: #fff;
  margin-bottom: 60px;
}

.results-box {
  background: #fff url(../images/results/results-box__bg.jpg) center no-repeat;
  background-size: cover;

  &__inner {
    height: 592px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0px 10px;

  }

  &__img {
    max-width: 380px;
    width: 100%;
  }

  &__content {
    max-width: 620px;
    width: 100%;
    font-size: 16px;
    @include sf400;
    line-height: 20px;

    h4,
    p,
    ul,
    li {
      margin: 0;
      padding: 0;
    }

    h4,
    ul,
    p {
      margin-bottom: 21px;
    }

    h4 {
      @include sf700;
    }
  }
}

.results-box__list {
  &-flex {
    display: flex;
    justify-content: space-between;
  }

  &-num {
    padding: 0;
    margin: 0;
    max-width: 294px;
    width: 100%;

    li {
      padding-left: 0px;
      display: block;
    }

    span {
      display: inline-block;
      padding-right: 2px;
    }
  }
  &-dash {
    li {
      position: relative;
      padding-left: 20px;
      display: block;
      &::before {
        content: "—";
        position: absolute;
        left: 0;
      }
    }
  }
}

.results-box__content-sup {
  span {
    display: block;
  }
}

// .results-case {
//   width: 620px;
//   font-size: 18px;
//   line-height: 23px;
//   @include sf400;
//   margin-bottom: 20px;
//   height: 940px;
//   display: none;

//   h4,
//   p {
//     margin: 0;
//     padding-bottom: 23px;
//     @include sf400;
//   }

//   ul,
//   ol {
//     padding-bottom: 23px;
//   }

//   span {
//     @include sf400;
//   }

//   li {
//     display: block;
//   }

//   &__list-dash {
//     li {
//       position: relative;
//       padding-left: 25px;

//       &::before {
//         content: "—";
//         position: absolute;
//         left: 0;
//       }
//     }
//   }
// }

// .results-case__list-number {
//   margin: 0;
//   padding-left: 20px;

//   li {
//     display: list-item;
//     padding-left: 5px;
//   }
// }

// .results-case__list-add {
//   position: relative;
//   padding-left: 25px;
//   list-style: none;

//   &::before {
//     content: "+";
//     position: absolute;
//     left: -18px;
//   }
// }

// .results-case__text-wrap {
//   background: url(../images/results/case-bg1.jpg) center no-repeat;
//   background-size: cover;
//   background-color: #fff;
//   min-height: 917px;
//   height: 917px;

//   &.bg2 {
//     background: url(../images/results/case-bg2.jpg) center no-repeat;

//     .results-case__text {
//       padding-top: 35px;
//     }
//   }
// }

// .results-case__text {
//   max-width: 465px;
//   width: 100%;
//   margin: 0 auto;
//   padding: 26px 0px 0px;
// }

// .results__case-slide {
//   height: 100%;
//   width: 100%;

//   img {
//     width: 100%;
//     height: 100%;
//   }
// }

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  font-size: 0;
  border: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 89px;
  width: 45px;
  background-color: transparent;
  cursor: pointer;
}

.slick-next {
  right: 0;
  background-image: url(../images/results/next.png);
}

.slick-prev {
  left: 0;
  background-image: url(../images/results/prev.png);
}

.results-case__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.results__subtitle {
  @include sf400;
  font-size: 24px;
  margin-top: 40px;
  color: #fff;
  text-align: center;
}

.results__inner {
  padding-bottom: 380px;
}

// Results end

// Promotion start
.promotion__inner {
  text-align: center;
  padding-bottom: 90px;
}

.promotion__title {
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 23px;
}

.promotion__subtitle {
  color: #000;
  font-size: 21px;
  opacity: 0.8;
  margin-bottom: 40px;
  @include sf400;
}

.promotion__btn {
  width: 236px;
  padding: 0px 5px;
}

.promotion-wrap {
  background-image: url(../images/promotion.jpg);
  height: auto;
}

.promotion-overlay {
  opacity: 0.8;
}

// Promotion end

// Rate start
.rate {
  background: #000 url(../images/rate/rate-bg.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  margin-top: -162px;
  text-align: center;

  .overlay {
    opacity: 0.8;
  }

  &__inner {
    padding-top: 292px;
    position: relative;
    z-index: 2;
    padding-bottom: 100px;
  }

  &__title {
    margin-bottom: 20px;
    color: #fff;
  }

  &__subtitle {
    font-size: 27px;
    margin-bottom: 60px;
    @include sf400;
    text-align: center;
    border-bottom: 1px solid $blue;
    display: inline-block;
  }
}

.rate__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.rate__item-footer {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.rate__item {
  max-width: 508px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  padding-bottom: 170px;
  margin-bottom: 84px;
  text-align: left;
  position: relative;
  @include sf400;

  &-name {
    font-size: 21px;
    background-color: $blue;
    text-align: center;
    padding: 20px 10px 17px;
    color: #fff;
    margin-bottom: 12px;
    border-radius: 10px 10px 0px 0px;
  }

  &-list {
    padding: 0px 48px;
    margin-bottom: 30px;

    li {
      padding: 12px 0px 9px 33px;
      line-height: 24px;
      font-size: 14px;
      display: block;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        left: 0;
        top: 18px;
        background: url(../images/rate/figure.png) center no-repeat;
        background-size: cover;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: $blue;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  &-time {
    text-align: center;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 24px;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
  }

  &-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 260px;
  }
}

// Rate end
// Promise start
.promise {
  background: #fff url(../images/promise/promise.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  @include sf400;

  .overlay {
    background-color: #fff;
    opacity: 0.8;
  }

  &__inner {
    position: relative;
    z-index: 2;
    padding: 50px 0px;
  }

  &__title {
    margin-bottom: 84px;
  }
}

.promise__item {
  margin-bottom: 20px;
  text-align: center;
  max-width: 305px;
  width: 100%;

  img {
    height: 50px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &-wrap {
    display: flex;
    justify-content: space-around;
    position: relative;

    .decor-top {
      &::before {
        top: 0;
        left: 0;
        right: auto;
        bottom: auto;
      }

      &::after {
        top: 0;
        right: 0;
        left: auto;
        bottom: auto;
      }
    }

    .decor-bottom {
      &::before {
        bottom: 0px;
        left: 0;
        right: auto;
        top: auto;
      }

      &::after {
        bottom: 0px;
        right: 0;
        left: auto;
        top: auto;
      }
    }
  }

  &-title {
    font-size: 24px;
    padding-bottom: 21px;
    position: relative;
    margin-bottom: 16px;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $blue;
    }
  }

  &-text {
    line-height: 24px;
    font-size: 18px;
    max-width: 291px;
  }
}

// Promise end
// Workers start
.workers {
  background: #000 url(../images/workers/workers-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;

  .overlay {
    opacity: .8;
  }

  &__inner {
    padding: 100px 0px 330px;
    position: relative;
    z-index: 2;
  }

  &__title {
    color: #fff;
    margin-bottom: 45px;
  }

  &__signature {
    font-size: 21px;
    text-align: center;
    @include sf400;
  }
}

.workers__item {
  height: 343px;
  max-width: 228px;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;

  &2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
  }

  &:hover {
    .workers__item-text {
      transform: translateY(0%);
    }
  }

  &-text {
    background-color: #000;
    height: 132px;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    width: 100%;
    transition: all .5s;
    text-align: center;
    padding: 6px 8px;
    @include sf400;
  }

  &-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    position: relative;
  }
}

// Workers end

// Remember start
.remember {
  background-color: transparent;

  &__inner {
    padding-bottom: 100px;
  }
}

.remember__title {
  margin-bottom: 80px;
}

.remember-wrap {
  background-image: none;
  background-color: #fff;
  height: auto;
}

.remember__content-wrap {
  display: flex;
  justify-content: space-around;
}

.remember__content {
  max-width: 608px;
  position: relative;
  height: 100%;

  p {
    @include sf400;
    color: #000;
    margin: 0;
    margin-bottom: 35px;
    font-size: 21px;
    line-height: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.decor-top,
.decor-bottom {

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
  }
}

.decor-top {
  &::before {
    border-top: 2px solid $blue;
    border-left: 2px solid $blue;
    bottom: 100%;
    right: 100%;
  }

  &::after {
    border-top: 2px solid $blue;
    border-right: 2px solid $blue;
    bottom: 100%;
    left: 100%;
  }
}

.decor-bottom {
  &::before {
    border-bottom: 2px solid $blue;
    border-left: 2px solid $blue;
    top: 100%;
    right: 100%;
  }

  &::after {
    border-bottom: 2px solid $blue;
    border-right: 2px solid $blue;
    top: 100%;
    left: 100%;
  }
}

.remember__img {
  border: 5px solid $blue;
  margin-left: 100px;

  img {
    transform: translate(-30px, -30px);
  }
}

.remember__btn {
  width: 167px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translate(-50%, 100%);
}

// Remember end
// Cost start
.cost {
  position: relative;
  background: #fff url(../images/cost-bg.jpg) center no-repeat;
  background-size: cover;
  margin-top: -170px;

  .overlay {
    opacity: 0.8;
  }

  &__title {
    color: #fff;
    margin-bottom: 75px;
  }
}

.cost__inner {
  padding-top: 360px;
  padding-bottom: 100px;
  position: relative;
  z-index: 3;
  text-align: center;
}

.cost__btn {
  width: 260px;
}

// Cost end
// Footer start
.footer {
  background-color: #fff;
  font-size: 16px;
  line-height: 16px;
  color: #3c3c3b;
  @include sf300;

  a {
    color: #3c3c3b;
  }

  &__inner {
    padding: 100px 60px;

    &-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 20px;
    color: #000;
    @include sf400;
  }

  &__copy {
    max-width: 100%;
    width: 100%;
    margin-top: 50px;
  }

  &__list {
    li {
      margin-bottom: 18px;
      display: block;
    }
  }
}

.footer__instagram,
.footer__vk,
.footer__contact {
  max-width: 170px;
}

.footer__contact-social {
  a+a {
    margin-left: 11px;
  }
}

.footer__number {
  margin-bottom: 18px;
}

#footer__list,
#footer__list2 {
  a {
    &:hover {
      color: #8d8d8d;
    }
  }
}

// Footer end

// Modal start
.modal {
  max-width: 780px;
  width: 100%;
  background-color: #fff;
  @include sf400;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 5px;
  height: 0%;
  overflow: hidden;
  padding: 0;
  transition: all .2s;
  opacity: 0;

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    background-color: #000;
    opacity: 0.7;
    height: 100%;
  }

  &__close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;

    &:hover {
      span {
        background-color: $blue;
      }
    }

    span {
      transition: .6s;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      transform: rotate(45deg);
      height: 1px;
      width: 100%;
      background-color: #000;

      &+span {
        transform: rotate(-45deg);
      }
    }
  }

  &.active {
    overflow: visible;
    height: auto;
    padding: 50px 0px;
    padding-top: 60px;
    opacity: 1;
  }

  &__title {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__suptitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 135px;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  form {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  label {
    position: relative;
    display: block;

    &.active {
      span {
        bottom: 100%;
        color: $blue;
      }

      input {
        border-color: $blue;
      }
    }
  }

  .label-hover span {
    color: #000;
    font-size: 18px;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 11px;
    height: auto;
    transition: all .3s;
    @include sf300;
  }

  input {
    display: block;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #a0a0a0;
    width: 100%;
    outline: none;
    padding: 4px 10px 12px 0px;
    @include sf300;
    color: #000;
    font-size: 16px;

    &::placeholder {
      @include sf300;
    }
  }

  button {
    width: 200px;
    margin-bottom: 10px;
  }

  &__signature {
    font-size: 6px;
    line-height: 8px;
    display: flex;
    max-width: 350px;

    img {
      margin-right: 10px;
      display: block;
      max-width: 20px;
      width: 100%;
      height: 20px;
    }
  }
}

.thanks {
  text-align: center;
  @include sf400;
  font-size: 30px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .thanks {
    text-align: center;
    @include sf400;
    font-size: 22px;
    height: 60px;
  }
}

// Modal end
.nons {
  display: none;
}
.remember__img {
  img {
    width: 380px;
  }
}

@import 'media';